.userlistcard {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5% auto 0 auto;
    border: none;
    border-radius: 10px; 
}

.userlistitem {
    margin: 0 10px;
    height: 2em;
    border: 1px solid blueviolet;
    border-radius: 5px;
    text-align: left;
    text-indent: 1em;
}